/.git
/.github
/.vscode
/node_modules
/vendor
/storage
/bootstrap/cache
/public/storage
/.env
/.env.*
/tests
/docs
/implementation-phases
/.idea
/npm-debug.log
/yarn-error.log
/*.log
/.agents
/skills-lock.json
/.docker-compose.yml
